<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>using vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="alpp">
      <template v-for="name in names" :keyo="name">
        <p v-if="name !== 'Vincent' ">{{name}}</p>
      </template>

      <p>multipy 1: {{ multiply(mate,)}}</p>
      <br />
      <p v-text="name"></p>
      <p>{{age}}</p>
      <button @mouseover="name = 'Joshua' ">change result</button>
      <button v-on:mouseover="name = 'Kwame' ">swap</button>
      <button @click="add">add</button>
      <button @click="sub">sub</button>

      <form action="">
        <input v-model.trim=""> 
      
      </form>\
      f

    </div>
    <script src="./app.js"></script>
  </body>
</html>
